# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Test coverage
htmlcov/
.coverage
*.cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyInstaller
*.spec

# macOS
.DS_Store

# Windows
Thumbs.db